<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keyword"
        content="Cavite national high School, Graduate Tracer system, Graduate App, Graduate System, Graduation, Cavite High">
    <meta name="description" content="Cavite National High School Senior - high School Graduate Tracer System">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="animate.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    {{{body}}}
</body>

</html>